Please determine if the following medical question is related to {{ category_name }}. Answer only "yes" or "no".

Question: {{ prompt }}

Criteria for judgment:
- Does it involve {{ category_name }}-related topics?
- Does it involve medical content related to {{ category_name }}?

If related, answer "yes"; if not related, answer "no".